name: Partitioned Consumer Groups CLI Pull Request

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'pcgroups-cli/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pcgroups-cli
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build with Gradle
        run: |
          chmod +x gradlew && ./gradlew clean package
      - name: Build with Maven
        run: mvn clean package
      - name: Validate artifacts were created
        run: |
          FILE_PATH="build/cg.jar"
          if [ -f "$FILE_PATH" ]; then
            echo "Validation successful: $FILE_PATH was created."
          else
            echo "Validation failed: $FILE_PATH was not found."
            exit 1 # Fails the workflow step
          fi
          FILE_PATH="build/cg.zip"
          if [ -f "$FILE_PATH" ]; then
            echo "Validation successful: $FILE_PATH was created."
          else
            echo "Validation failed: $FILE_PATH was not found."
            exit 1 # Fails the workflow step
          fi
          FILE_PATH="build/libs/cg.tar"
          if [ -f "$FILE_PATH" ]; then
            echo "Validation successful: $FILE_PATH was created."
          else
            echo "Validation failed: $FILE_PATH was not found."
            exit 1 # Fails the workflow step
          fi
          FILE_PATH="target/cg.jar"
          if [ -f "$FILE_PATH" ]; then
            echo "Validation successful: $FILE_PATH was created."
          else
            echo "Validation failed: $FILE_PATH was not found."
            exit 1 # Fails the workflow step
          fi
